;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[org.babashka/sci "0.7.39"]]

 :dev-http {8080 "public"}
 :builds
 {:clojureblocks
  {:target :browser
   :modules {:main {:init-fn clojureblocks.core/init}}}}}
