;; shadow-cljs configuration
{:source-paths
 ["src/main"]

 :dependencies
 [[org.babashka/sci "0.7.39"]]

 :dev-http {8080 "public"}
 :builds
 {:clojureblocks
  {:target :browser
  ; :compiler-options {:optimizations :simple} ;; needed for PreviewModal.js :(
   :modules {:main {:init-fn clojureblocks.core/clojureblocks-init}}}}}
