/* .blockly-div {
    position: absolute;
    height: 500px;
    width: 800px;
} */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(30, 30, 30);
    overflow: hidden;
}

table {
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

#blockly-area {
    height: 80%;
    text-align: center;
}

#blockly-div {
    position: absolute;
}

.output-td {
    width: 85%;
    background-color: black;
    padding: 1em;
    vertical-align: top;
    text-align: left;
}

.control-td {
    min-width: 10rem;
    font-size: large;
    color: white;
    padding: 1em;
    vertical-align: top;
    text-align: left;
}

.control-td button {
    background-color: #63b132;
    color: white;
    padding: 0.4em;
    font-size: medium;
    font-weight: bolder;
    width: 100%;
}

.control-td .checkbox-div {
    text-align: center;
}

.checkbox-div {
    padding: 1em 0;
    /* font-size: 1.2em; */
}

code {
    font-size: large;
    color: white;
    font: Inconsolata, monospace;
}

.blocklyModalOverlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.blocklyModalContainer {
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(128, 128, 128);
    font-weight: 300;
    padding: 1em;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 20px rgb(53, 53, 53);
    z-index: 100;
    margin: 15% auto;
    color: white;
}

.blocklyModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
}

.blocklyModalHeaderTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    line-height: 1.25;
}

.blocklyModalHeader .blocklyModalBtn {
    margin-left: auto;
    height: fit-content;
}

.blocklyModalContent {
    font-family: monospace;
}

.blocklyModalBtn {
    background-color: red;
    margin-right: 0.5em;
    border: 1px solid white;
    font-weight: 500;
    color: white;
    border-radius: 25px;
}