/* .blockly-div {
    position: absolute;
    height: 500px;
    width: 800px;
} */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(30, 30, 30);
    overflow: hidden;
}

table {
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

#blockly-area {
    height: 80%;
    text-align: center;
}

#blockly-div {
    position: absolute;
}

.output-td {
    width: 85%;
    background-color: black;
    /* padding: 1em; */
    vertical-align: top;
    text-align: left;
}

.control-td {
    min-width: 10rem;
    font-size: large;
    color: white;
    padding: 0.8em;
    vertical-align: top;
    text-align: left;
}

.button {
    font-size: medium;
    font-weight: bolder;
    color: white;
    padding: 0.4em;
    width: 100%;
}

.button-import-export {
    background-color: rgb(88, 128, 216);
}

.button-evaluate {
    background-color: #63b132;
}

.button-evaluate:disabled {
    background-color: rgb(104, 104, 104);
    color: rgb(178, 178, 178);
}

.button-reset {
    background-color: #b13232;
}

.output-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#output {
    width: 100%;
    height: 100%;
    display: block;
    /* padding: 0.8em; */

    font-size: large;
    color: white;
    font-family: monospace;
    white-space: pre;
}

/* Firefox scrollbar: */
.output-container {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 128, 249) transparent;
}

/* all other browsers scrollbar: */
.output-container::-webkit-scrollbar {
    width: 8px;
}
  
.output-container::-webkit-scrollbar-track {
    background: transparent;
}
  
.output-container::-webkit-scrollbar-thumb {
    background-color: rgb(255, 128, 249);
    border-radius: 6px;
}

.blocklyModalOverlay {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.blocklyModalContainer {
    background-color: rgb(30, 30, 30);
    border: 1px solid rgb(128, 128, 128);
    font-weight: 300;
    padding: 1em;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 20px rgb(53, 53, 53);
    z-index: 100;
    margin: 15% auto;
    color: white;
}

.blocklyModalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
}

.blocklyModalHeaderTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2em;
    line-height: 1.25;
}

.blocklyModalHeader .blocklyModalBtn {
    margin-left: auto;
    height: fit-content;
}

.blocklyModalContent {
    font-family: monospace;
    font-size: large;
    white-space: pre;
}

.blocklyModalBtn {
    background-color: red;
    margin-right: 0.5em;
    border: 1px solid white;
    font-weight: 500;
    color: white;
    border-radius: 25px;
}

.theme-switcher-container {
    text-align: center;
}

.theme-switcher-icon {
    height: 20px;
    vertical-align: middle;
}

.theme-switcher-icon.dark {
    padding-left: 6px;
}

.theme-switcher-icon.light {
    padding-right: 6px
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff600;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: rgba(145, 145, 145, 0.719);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0400f4;
}

/* input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.num-previews-container {
    text-align: center;
}

.num-preview-input {
    background-color: transparent;
    border: 1px solid white;
    height: 26px;
    font-size: large;
    color: white;
}

.button-settings {
    background-color:rgb(192, 77, 186);
    /* color: black; */
}

dialog {
    font-family: sans-serif;
}

.dialog-dark {
    background-color: rgb(50, 50, 50);
    color: white;
}

.dialog-dark input {
    background-color: rgb(74, 74, 74);
    color: white;
}

dialog::backdrop {
    background: rgba(44, 44, 44, 0.6);
    backdrop-filter: blur(1.5px);
}

.button-dialog-close {
    background-color: #63b132;
}

.dialog-settings-header {
    font-size: xx-large;
    font-weight: 500;
    padding-bottom: 0.4em;
}

.dialog-settings-line {
    height: 2em;
}

.dialog-settings-input {
    float: right;
    margin-left: 1em;
}

#checkbox-auto-evaluation {
    text-align: end;
}