/* .blockly-div {
    position: absolute;
    height: 500px;
    width: 800px;
} */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(30, 30, 30);
    overflow: hidden;
}

table {
    height: 100%;
    width: 100%;
    border-spacing: 0;
}

#blockly-area {
    height: 80%;
    text-align: center;
}

#blockly-div {
    position: absolute;
}

.output-td {
    width: 85%;
    background-color: black;
    /* padding: 1em; */
    vertical-align: top;
    text-align: left;
}

.control-table {
    table-layout: fixed
}

.control-td {
    min-width: 10rem;
    width: 50%;
    font-size: large;
    color: white;
    padding: 0.8em;
    vertical-align: top;
    text-align: left;
}

.button {
    font-size: medium;
    font-weight: bolder;
    color: white;
    padding: 0.4em;
    width: 100%;
}

.button:hover {
    cursor: pointer;
}

.button-import-export {
    background-color: rgb(88, 128, 216);
}

.button-evaluate {
    background-color: #63b132;
}

.button-evaluate:disabled {
    background-color: rgb(104, 104, 104);
    color: rgb(178, 178, 178);
}

.button-reset {
    background-color: #b13232;
}

.output-container {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#output {
    width: 100%;
    height: 100%;
    display: block;

    font-size: large;
    color: white;
    font-family: monospace;
    white-space: pre;
}

/* Firefox scrollbar: */
.output-container {
    scrollbar-width: thin;
    scrollbar-color: rgb(255, 128, 249) transparent;
}

/* all other browsers scrollbar: */
.output-container::-webkit-scrollbar {
    width: 8px;
}

.output-container::-webkit-scrollbar-track {
    background: transparent;
}

.output-container::-webkit-scrollbar-thumb {
    background-color: rgb(255, 128, 249);
    border-radius: 6px;
}

.theme-switcher-container {
    text-align: center;
}

.theme-switcher-icon {
    height: 20px;
    vertical-align: middle;
}

.theme-switcher-icon.dark {
    padding-left: 6px;
}

.theme-switcher-icon.light {
    padding-right: 6px
}

.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff600;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: rgba(145, 145, 145, 0.719);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #0400f4;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.button-settings {
    background-color: rgb(192, 77, 186);
    /* color: black; */
}

#dialog-settings {
    font-family: sans-serif;
}

dialog {
    background-color: rgb(250, 250, 250);
}

.dialog-dark {
    background-color: rgb(50, 50, 50);
    color: white;
}

.dialog-dark input {
    background-color: rgb(74, 74, 74);
    color: white;
}

#dialog-settings::backdrop {
    background: rgba(44, 44, 44, 0.6);
    backdrop-filter: blur(1.5px);
}

.button-dialog-close {
    background-color: #63b132;
}

.dialog-header {
    font-size: xx-large;
    font-weight: 500;
    padding-bottom: 0.4em;
}

.dialog-settings-line {
    height: 2em;
}

.dialog-settings-input {
    float: right;
    margin-left: 1em;
}

#checkbox-auto-evaluation {
    text-align: end;
}

#button-dialog-preview-close {
    height: 2rem;
    width: 2rem;
    vertical-align: top;
    margin-left: 1em;
    float: right;
    background-color: red;
    color: white;
}

#button-dialog-preview-close img {
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}

#button-dialog-preview-close:hover {
    cursor: pointer;
}

#dialog-preview-content {
    font-family: monospace;
    font-size: large;
    white-space: pre;
}

#dialog-preview {
    font-family: sans-serif;
}

#dialog-preview::backdrop {
    background-color: transparent;
}